body.table { 
    border-collapse: collapse
}

td{
    border: 1px solid goldenrod
}
th {
    background: rgb(197, 37, 37)
}
td, th {
    text-align: center;
    padding: 0.5em;
}
h1 {
    background-color: aqua
}